[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/karenjennyli/adversarial-scenario-runner.git
	branch = leaderboard
[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/karenjennyli/adversarial-leaderboard.git
	branch = main
